body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #4CAF50; /* Green background */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover, nav ul li a.active {
    background-color: white;
    color: #4CAF50; /* Green text color on hover or when active */
    border-radius: 5px;
}

main {
    padding: 40px 20px;
}

section#goals {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 800px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section#goals h1 {
    color: #333;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

section#goals ul {
    list-style: none;
    padding: 0;
}

section#goals ul li {
    background-color: #f7f9fc; /* Slightly lighter background for the list items */
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

section#goals ul li strong {
    display: block;
    color: #4CAF50; /* Green for strong text */
    margin-bottom: 5px;
    font-size: 18px;
}

section#goals ul li p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}
